*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: gray;
}

.CalculadoraIMC{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 20%;
    left:50%;
    width: 300px;
    transform: translate(-50%);
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.CalculadoraIMC h2{
    color: blue;
    text-align: center;
}

.CalculadoraIMC p{
    text-align: center;
}

.CalculadoraIMC input{
    text-align: center;
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
}

.CalculadoraIMC button{
    margin-left: 50%;
    transform: translate(-50%);
    background-color: blue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.CalculadoraIMC button:hover{
    background-color: #fff;
    color: blue;
}